li{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: upper-alpha;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
}

.copia{
    background-color: lightyellow;
}
.copia li{
    background-color: grey;
    list-style-type: decimal;
}

.copia2{
    list-style-image: url("https://media1.tenor.com/m/FpFjAt4xnEQAAAAd/sdlg-papu.gif");
}